<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body style="background-color: rgb(35, 35, 35); color: white;">
    <div style="margin: 10px;">
        <h1 style="padding-top: 20px;">WhyleFinance</h1>
        <h2>Reset your password</h2>
        <p style="margin-top: 50px;">We received a request to reset your password</p>
        <p>Click the button below to continue</p>
        <a href="http://api.whylefinance.dev/auth/reset-password?uid={{uid}}&token={{token}}"
        style="cursor: pointer; text-align: center; color: white; text-decoration: none; background-color: rgb(218, 185, 0); border: 3px rgb(189, 161, 0) solid; padding: 20px; border-radius: 50px; font-size: 20px; font-weight: bold; margin: 50px 0; display: block;">Reset Password</a>
        <p style="display: inline-block;">If the button doesn't work: </p>
        <a href="http://api.whylefinance.dev/auth/reset-password?uid={{uid}}&token={{token}}">http://api.whylefinance.dev/auth/reset-password?uid={{uid}}&token={{token}}</a>
        <p style= "padding-bottom: 20px; margin-top: 50px;">If you didn't request this, you can ignore this email.</p>
    </div>
</body>
</html>