<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body style="background-color: rgb(35, 35, 35); color: white;">
    <div style="margin: 10px;">
        <h1 style="padding-top: 20px;">WhyleFinance</h1>
        <h2>Verify your email to continue</h2>
        <p style="margin-top: 50px;">Hi {{username}},</p>
        <p>You're almost there. To finish creating your account, please verify your email</p>
        <a href="http://api.whylefinance.dev/auth/verify-email?uid={{uid}}&token={{token}}"
        style="cursor: pointer; text-align: center; color: white; text-decoration: none; background-color: rgb(218, 185, 0); border: 3px rgb(189, 161, 0) solid; padding: 20px; border-radius: 50px; font-size: 20px; font-weight: bold; margin: 50px 0; display: block;">Verify Email</a>
        <p style="display: inline-block;">If the link doesn't work, use this link instead: </p> 
        <a href="http://api.whylefinance.dev/auth/verify-email?uid={{uid}}&token={{token}}">http://api.whylefinance.dev/auth/verify-email?uid={{uid}}&token={{token}}</a>
        <p style= "padding-bottom: 20px;">Thanks,<br>WhyleFinance Team</p>
    </div>
</body>
</html>