.toggleButton {
    display: block;
    background: none;
    border: var(--txt-color) solid;
    border-width: 1px;
    border-radius: 50px;
    width: 80px;
    height: 20px;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
    margin: 0 25px 0 auto;
}

.change {
    display: none;
}

.circle {
    height: 24px;
    width: 24px;
    border: 1px solid var(--txt-color);
    background-color: var(--txt-color);
    transform: translateX(-12px) translateY(-4px);
    border-radius: 100%;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.circleLight {
    transform: translateX(63px) translateY(-4px);
}