.hamburguerButton {
    height: 5dvh;
    width: 5dvh;
    gap: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: left;
    cursor: pointer;
    transition: 0.3s ease;
    outline: none;
    background: none;
    border: none;
}

.hamburguerBars {
    height: 15%;
    width: 100%;
    background-color: var(--txt-color);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

.change .topBar {
    transform: translateY(1.2dvh) rotateZ(-45deg);
}
.change .middleBar {
    opacity: 0;
}

.change .bottomBar {
    transform: translateY(-1.2dvh) rotateZ(45deg);
}
