.required {
    color: red;
}

.main {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 75dvh;
  width: 40dvh;
  gap: 20px;
  background-color: var(--border-color);
  border-radius: 50px;
  overflow: hidden;
  padding: 30px;
  justify-content: space-between;
}
body {
    justify-content: center;
    align-items: center;
}

.topContainer {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.inputGrid {
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nameContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.createAccountButton {
    border-radius: 50px;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: var(--nav-bar-color);
}

.accountButton {
    outline: 0;
    background: 0;
    border: 0;
    color: rgb(142, 142, 255);
    cursor: pointer;
    align-self: flex-end;
}

.showPasswordButtons {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    right: 10px;
    top: 50%;
    transform: translateY(-40%);
}
.showPasswordInput {
    width: 100%;
    padding-right: 40px;
}

input {
    width: 100%;
    padding: 5px 0;
    outline: none;
    border: none;
    border-bottom: 2px solid;
    background: none;
    font-size: 1rem;
    transition: border-bottom-color 0.3s ease;
}

input:focus {
    border-bottom-color: var(--accent-color);
}

.error {
    color: var(--error-color);
    font-size: 12px;
    align-self: flex-end;
}
.shake {
    animation: shake 0.2s ease;
}
@keyframes shake {
    0%, 100% { transform: translateX(0);}

    20% { transform: translateX(2px);}

    40% { transform: translateX(-2px);}

    60% { transform: translateX(2px);}

    80% { transform: translateX(-2px);}

}